footer {
  text-align: start;
  padding: 20px 40px;
  background-color: #f7f7f7;
  width: 100%;
}

.footer-link {
  color: #373737;
  text-decoration: none;
  margin: 0 10px;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: center;
  padding-left: 60px;
}